<ion-list #listas>
    <ion-item-sliding *ngFor="let item of deseosService.listas | filtroCompleto: terminada">

        <ion-item-options side="start">
            <ion-item-option color="secondary" (click)="editarLista(item)">
                <ion-icon name="create-outline" slot="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>

        <ion-item detail (click)="listSelected(item)">
            <ion-label>{{item.titulo}}</ion-label>
            <ion-note color="tertiary" slot="end">{{item.items.length}} items</ion-note>
        </ion-item>

        <ion-item-options side="end">
            <ion-item-option color="danger" (click)="borrarLista(item)">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>